<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507340749941-14c0jv0fua4a4tb59cf9us3st143q7tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507340749941-14c0jv0fua4a4tb59cf9us3st143q7tr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>507340749941-jcaljp49nnal6apb8cfnkg36n1hu00jp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfk2HRA_vFsszIXEurhORrMaivFVZtTdw</string>
	<key>GCM_SENDER_ID</key>
	<string>507340749941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.envManager</string>
	<key>PROJECT_ID</key>
	<string>envmanager-d212f</string>
	<key>STORAGE_BUCKET</key>
	<string>envmanager-d212f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507340749941:ios:eeed64289b206520bbcc3c</string>
</dict>
</plist>